  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    background: rgb(255, 255, 255);
  }

  /* rgb(245,0,87) 
   #3F3D56
  */

  .hero {
    margin: auto;
    width: 80vw;
  }

  .buttons a {
    margin: 12px 15px 60px 15px;
  }

  .buttons {
    margin: auto;
    width: 80%;
    text-align: center;
  }
  .padding-bottom {
    margin: 4px 0px;
  }

  #hero-header {
    color: #3F3D56;
    font-size: 38px;
    font-weight: 200;
    text-align: center;
    margin: 70px 0px 20px 0px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
    width: 55vw;
    margin: auto;
    color: rgb(85, 85, 85) ;
  }

  #products-title {
    font-weight: 400;
    color: #3F3D56;
    font-size: 30px;
    margin: 45px 0px 8px 0px;

  }

  #products-fill {
    margin-top: 8px;
  }

  img {
      margin-top: 45px;
      max-width: 23vw;
      display: block;
      margin: auto;
      
  }

  #learn-btn{
    background-color: transparent;
    transition: background-color .5s, color .6s;
    color: #3F3D56;
    border: 2px solid #3F3D56;
    border-radius: 8px;
  }

  #learn-btn:hover {
    background-color: #3F3D56 ;
    color: rgb(255, 255, 255);
    border: 2px solid #3F3D56;
  }


  #dark-btn {
    border-radius: 8px;
    background-color:#3F3D56;
    transition: background-color .5s;
    color: white;
  }

  #learn-btn:hover {
    background-color: rgb(255, 255, 255) ;
    color: #3F3D56;
    border: 2px solid #3F3D56;
  }


  #download-btn {
    border-radius: 8px;
    background-color:#F50057;
    transition: background-color .5s;
    color: white;
  }

  #w64-btn {
    border-radius: 8px;
    background-color:#F50057;
    transition: background-color .5s;
    color: white;
  }

  #download-btn:hover {
    color: white;
    transition: background-color .5s;
    background-color: #3F3D56;
  }


  /* download page */

  #download-header {
    color: #3F3D56;
    font-size: 38px;
    font-weight: 200;
    text-align: left;
    margin: 60px 0px 20px 0px;
  }

  #features-dw-header {
    color: #3F3D56;
    font-size: 33px;
    font-weight: 200;
    text-align: left;
    margin: 60px 0px 15px 0px;
  }

  .download-desc {
    max-width: 650px;
    text-align: left;
    font-size: 18px;
    line-height: 1.7;;

  }

  .download-buttons a {
    margin: 15px 15px 30px 0px;
  }

  .download-buttons {
    margin: auto;
    text-align: left;
  }

  .download-sec {
    margin: auto;
    width: 85vw;
    display: grid;
    grid-template-columns: 58% 42%;
  }



  @media only screen and (max-width: 1315px) {
    .download-sec {
      margin: auto;
      width: 90vw;
      display:block;
      
    }

    .hero {
      margin: auto;
      width: 88vw;
    }

  }